body{
    background-color: #000000;
    overflow: hidden;
    text-align: center;
}
.modal__block{
    margin-top: 20%;
    font-family: 'Shippori Antique', sans-serif;
    user-select: none;
}
.modal__password{
    font-size: 30px;
    color: lightgray;
    font-weight: 700;
}
.content__away{
    color: green;
    text-shadow: 0 0 5px green;
    animation: fade 3s ease 1;
    opacity: 0;
}
@keyframes fade {
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.content{
    font-weight: 500;
    font-size: 50px;
}
.content span{
    transition: all 0.5s;
}
.right__letter{
    color: #F0A500;
    text-shadow: 0 0 5px #F0A500;
}
.wrong__letter{
    color: #082032;
}